@media (max-width: 1300px) {
    header {
        padding: 1rem 0.8rem;
    }

    header h1 {
        font-size: 2rem;
    }

    nav a {
        font-size: 0.7rem;
    }

    .content {
        margin-top: 50%;
    }

    .spline {
        scale: 0.5;
        top: -20%;
        right: 2%;
    }

}

@media (max-width: 768px) {
    header {
        padding: 1rem 0.1rem;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }

    .btn-signing {
        padding: 0.6rem 1.5rem;
    }

    .content {
        margin-top: 25rem;
    }

    .spline {
        scale: 0.5;
        top: -25%;
        right: 0;
    }

    .content {
        max-width: 30rem;
        margin-left: 10%;
    }

    .tag-box {
        width: 12rem;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .btn-get-started {
        padding: 0.8rem 1.2rem;
        font-size: 0.6rem;
    }

    .btn-signing-main {
        padding: 0.8rem 2rem;
        font-size: 0.6rem;
    }

    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "intro"
            "tech"
            "time"
            "passion"
        ;
        gap: 1rem;
    }

    .about-title {
        margin-bottom: 5%;
        font-size: 3rem;
    }

    .model-box {
        scale: 0.8;
        left: 5rem;
    }
}

@media (max-width: 992px) {
    .bento-grid {
        position: relative;
        display: grid;
        height: 80vh;
    }

    .model-box {
        position: relative;
        scale: 0.6;
        margin-top: 4.5rem;
        left: 0;
    }

    .card-title {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .card-text {
        line-height: 1.5;
        margin-top: 0;
    }

}

@media (max-width: 1440px) {
    .model-box {
        position: absolute;
        right: -25%;
        top: -105%;
        width: 55rem;
        height: 55rem;
    }

    .bento-grid .btn {
        bottom: 0;
    }
}

@media (max-width: 480px) {
    .bento-grid {
        grid-template-columns: 1fr;
        grid-template-areas:
            "intro"
            "tech"
            "time"
            "passion"
        ;
    }

    .about-title {
        margin-bottom: 5%;
        font-size: 3rem;
    }

    .model-box {
        right: -4%;
        top: 27%;
        scale: 0.7;
    }
}

@media (max-width: 900px) {
    .model-box {
        border: 1px solid red;
        scale: 1.5;
        top: -35%;
        margin-left: -17.5rem;
    }
}