@media screen and (max-width: 768px) {
    /*PROFILE*/
    #profile{
        flex-direction: column;
        align-items: center;
    }

    .pic-container{
        height: 200px;
        width: 200px;
        margin-top: 7rem;
    }

    .pic-container img{
        height: 200px;
        width: 200px;
    }

    #socials-container{
        left: 165px;
        top: 470px;
    }

    .btn-container{
        left: 183px;
        top: 520px;
        width: 400px;
    }

    /*ABOUT*/

    #about{
        flex-direction: column;
    }

    .ufo-container{
        height: 100px;
        width: 100px;
    }

    .avatar-container{
        height: 200px;
        width: 200px;
        top: 250px;
        left: 1rem;
    }

    
    .avatar-container img{
        height: 200px;
        width: 200px;
    }

    .aboutxt-container{
        margin-left: 150px;
        width: 450px;
    }


    /*EXPERIENCE*/

   .exp-pic-container, .exp-pic-container1{
    display: none;
   }

   .exptxt-container{
        top: 95px;
   }

   .exptxt-container h1{
    font-size: 28px;
   }
    .experience-container{
        margin: auto 30px;
        width: 35vw;
    }
   
    #projects{
        height: 160vh;
    }

    #contact{
        height: 100vh;
    }
   
   /*NAV BAR*/
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fbd8c2;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #1c1e21;
        border-radius: 3rem;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }

    /* PROJECT */
    .projects-container{
        padding: 20px;
    }

    #projects{
        height: 145 vh;
    }



    /* CONTACT */

    #contact h1{
        margin-left: 58rem;
        margin-bottom: 38rem;
        width: 195px;
        text-align: center;
    }

    .contact-info{
        flex-direction: column;
    }
    .contact-card{
        width: 100%;
        max-width: 300px;
        margin: 10px 0;
        height: 180px;
    }

    .contact-pic-container img{
        display: none;
        visibility: hidden;
    }
}

@media screen and (max-width: 640px){
    .btn-container{
        left: 7.5rem;
    }

    #socials-container{
        margin-left: 4rem;   
    }

    .avatar-container img{
        height: 150px;
        width: 150px;
    }

    .avatar-container{
        height: 150px;
        width: 150px;
    }

    .aboutxt-container{
        width: 450px;
        margin-right: 10rem;
    }

    .avatar-container{
        display: none;
        visibility: none;
    }

    .ufo-container{
        margin-left: 20rem;
        top: 7.5rem;
    }

    .exptxt-container{
        top: 90px;
    }

    .exptxt-container h1{
        font-size: 25px;
    }

    .exptxt-container p{
        font-size: 15px;
    }
    .contact-pic-container{
        display: none;
    }

}

@media screen and (max-width: 475px){
    .btn-container{
        left: 2rem;
    }

    #socials-container{
        left: 5rem;
    }

    .aboutxt-container{
        width: 420px;
        z-index: 2;
    }

    .ufo-container{
        margin-left: 14rem;
    }

    .avatar-container{
        display: none;
        visibility: hidden;
    }

    .exptxt-container{
        top: 110px;
    }

    .exptxt-container h1{
        font-size: 25px;
    }

    .exptxt-container p{
        font-size: 15px;
    }

    .experience-container{
        margin: auto 35px;
    }

    .experience-container h2{
        font-size: 20px;
    }

    #projects{
        height: 255vh;
    }

}

@media screen and (max-width: 375px){

    header{
        width: 375px;
        border-radius: 0 0 2rem 2rem ;
        padding: 10px 25px;
    }

    .logo{
        font-size: 20px;
    }

    .title{
        font-size: 30px;
    }

    .btn-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vh;
        width: 325px;
        top: 550px;
    }

    #socials-container{
        top: 490px;
        left: 40px;
        position: absolute;
    }

    .aboutxt-container{
        width: 320px;
    }

    .ufo-container{
        top: 4rem;
    }

    .experience-container{
        width: 200px;
        margin: auto 5px;
    }

    footer{
        text-align: center;
    }
}