@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    background: #FBD8C2;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 80px;
    background-color: #1c1e21;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(3, 3, 3, 0.3);
    border-radius: 0 0 3rem 3rem;
    position: sticky;
    top: 0;
    z-index: 1000; /* para nangunguna lagi */
}

.logo{
    font-size: 28px;
    font-weight: 600;
    color: #ed335f;
}

.logo .Portfolio{
    color: #fbd8c2;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    display: block;
    color: #fbd8c2;
    font-size: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    transition: .2s;
}

.nav-bar ul li a::after{
    display: block;
    content: "";
    border-bottom: 4px solid #fbd8c2;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-bar ul li a:hover::after{
    transform: scaleX(1);
}

.nav-bar ul li a .active{
    color: black;
}

section{

    padding-top: 4vh;
    height: 85vh;
    margin: 0 10 rem;
    box-sizing: border-box;
    min-height: fit-content;
}

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 89.8vh;
}

.pic-container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.pic-container img{
    border-radius: 50%;
    border: 3px solid pink;
    box-shadow: 36px -28px 85px 8px rgba(255, 255, 255, 1);
}

.section-txt{
    align-self: center;
    margin-bottom: 200px;
}

.title{
    font-size: 40px;
    color: #ed335f;
    width: 100%;
}

.sec-p1{
    font-weight: 500;
    font-style: italic;
    color: black;
}

#socials-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    height: 5vh;
    align-items: center;
    position: absolute;
    top: 405px;
    left: 732px;
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 8vh;
    width: 25vw;
    position: absolute;
    top: 465px;
    left: 770px;
}

.btn {
    font-family: 'Poppins';
    width: 170px;
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 15px;
    padding: 8px 25px;
}

.btn:hover {
    letter-spacing: 1px;
}

#about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    position: relative;
    background: white;
}

.custom-shape-divider-top-1694835449 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1694835449 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 252px;
}

.custom-shape-divider-top-1694835449 .shape-fill {
    fill: #fbd8c2;
}

.ufo-container {
    position: absolute;
    display: flex;
    height: 230px;
    width: 230px;
    left: 25px;
    top: 145px;
    z-index: 1;
}

.avatar-container{
    height: 300px;
    width: 300px;
    position: absolute;
    left: 15rem;
}

.avatar-container img{
    height: 300px;
    width: 300px;
}

.aboutxt-container{
    position: absolute;
    align-self: center;
    margin-left: 10rem;
    width: 500px;
}

.title1{
    font-size: 35px;
    color: #ed335f;
    border-bottom: 2px solid #1c1e21;
}

.sec1-p1{
    font-weight: 500;
    font-style: italic;
    color: black;
}

.custom-shape-divider-bottom-1694842151 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1694842151 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1694842151 .shape-fill {
    fill: #FBD8C2;
}

/* Experience Section */
#experience {
    display: flex;
    justify-content: center;
    height: 100vh;
    position: relative;
    background: white;
}

.custom-shape-divider-top-1695021171 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1695021171 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1695021171 .shape-fill {
    fill: #FBD8C2;
}

.exptxt-container{
    position: absolute;
    top: 200px;
    text-align: center;
}

.exptxt-container p{
    font-size: 20px;
    color: rgb(85, 85, 85);
}

.exp-pic-container{
    position: absolute;
    display: flex;
    height: 250px;
    width: 250px;
    top: 490px;
    left: 20px;
}

.exp-pic-container1{
    position: absolute;
    display: flex;
    height: 150px;
    width: 150px;
    top: 190px;
    right: 190px;
}
.exptxt-container h1{
    font-size: 35px;
    color: #ed335f;
}

.experience-container{
    margin: auto 30px;
    border: 2px solid black;
    border-radius: 2rem;
    width: 50vw;
}   
.experience-sub{
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.75rem;
    margin-left: 15px;
    margin-bottom: 2rem;
}

.details-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    color: #ed335f;
}

article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon {
    cursor: default;
}

.custom-shape-divider-bottom-1695025895 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1695025895 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1695025895 .shape-fill {
    fill: #FBD8C2;
}

/* PROJECT SECTION */

.custom-shape-divider-top-1695026829 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1695026829 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 171px;
}

.custom-shape-divider-top-1695026829 .shape-fill {
    fill: #FBD8C2;
}

#projects{
    position: relative;
    height: 100vh;
    background-color: #fff;
}

.projects-container{
    background-color: white;
    padding: 15px 9%;
    padding-bottom: 100px;
    box-sizing: border-box;
    outline: none;
    border:none;
    margin-top: 190px;  
    text-transform: capitalize;
    transition: .2s linear;
}

.projects-container .heading{
    text-align: center;
    padding-bottom: 15px;
    color: #ed335f;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.projects-container .projects-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;

}

.projects-container .projects-box .box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.projects-container .projects-box .box img{
    height: 80px;
}

.projects-container .projects-box .box h3{
    color: #ed335f;
    font-size: 22px;
    padding: 10px 0;
}

.projects-container .projects-box .box p{
    color: #777;
    font-size: 15px;
    line-height: 1.8;
}

.projects-container .projects-box .box .p-button{
    margin-top: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
    text-decoration: none;
}

.projects-container .projects-box .box .p-button:hover{
    letter-spacing: 1px;
}

.projects-container .projects-box .box:hover{
    box-shadow: 0 10px 15px rgba(rgba(0, 0, 0, 0.3));
    transform: scale(1.03);
}

/* CONTACT */

#contact{
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#contact h1{
    position: absolute;
    margin-right: 58rem;
    margin-bottom: 30rem;
    font-size: 30px;
    color: #ed335f;
}

.contact-info{
    display: flex;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.contact-card{
    background: #fbd8c2;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FBD8C2;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}
.contact-card p{
    color: #1c1e21;
    font-weight: 800;
}
.card-icon{
    font-size: 28px;
    background: #1c1e21;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.contact-card:hover .card-icon{
    background: none;
    color: #1c1e21;
    transform: scale(1.6);
}

.contact-card p{
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
}

.contact-card:hover p{
    max-height: 40px;
    opacity: 1;
}

.contact-pic-container img{
    position: absolute;
    height: 175px;
    width: 300px;
}

.contact-pic-container{
    position: absolute;
    margin-bottom: 35rem;
    margin-left: 28.5rem;
}
footer{
    height: 10vh;
    background: #1c1e21;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #FBD8C2;
}