*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Pixelify Sans', sans-serif;
    background-color: black;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;
}

nav a:hover{
    color: #a7a7a7;
}

.btn-signing{
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;
}

.btn-signing:hover{
    background-color: white;
}

/* MAIN CONTENT */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box{
    position: relative;
    width: 10rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #417505, #85EC0D, #B9FF6C, #46C100, #5EFF00, #9AFF60);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
    to{
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover{
    color: #46C100;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: gray;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-get-started{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
    color: #5EFF00;
}

.btn-get-started:hover{
    background-color: #1a1a1a;
}

.btn-signing-main{
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: 0.6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.btn-signing-main:hover{
    background-color: gray;
}

.spline{
    position: absolute;
    right: -25%;
}

/* ABOUT SECTION */
.about-section{
    height: 95vh;
    width: 100%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-title{
    font-size: 5rem;
    margin-bottom: 5%;
    background-image: linear-gradient(rgb(133, 133, 133), rgb(255, 255, 255));
    color: transparent;
    background-clip: text;
}

.bento-grid{
    position: relative;
    display: grid;
    height: 90vh;
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "intro intro tech"
        "time passion tech";
    gap: 1.5rem;
}

.card{
    background: linear-gradient(145deg, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.07));
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Card AREAS */
.intro {grid-area: intro; min-height: 300px;}
.tech {grid-area: tech; min-height: 450px;}
.time {grid-area: time; min-height: 220px;}
.passion {grid-area: passion; min-height: 220px;}

/* Card HOVER */
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border-color: transparent;
}

.card::before{
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: radial-gradient(circle at var(--x) var(--y), rgba(124, 233, 230, 0.1), transparent 40%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.card:hover::before{
    opacity: 1;
}

.card-title{
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 1rem;
    color: white;
}

.card-text{
    color: #7b7b7b;
    line-height: 1.6;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 30rem;
}

.bento-grid .background-img{
    position: absolute;
    inset: -1% -1% -1% -1%;
    width: 110%;
    height: 110%;
    object-fit: cover;
    z-index: -1;
}

.model-box {
    position: absolute;
    right: -40%;
    top: -140%;
    width: 100rem;
    height: 100rem;
}

.info-3D {
    width: 150%;
    height: 150%;
    mix-blend-mode: lighten;
}

.bento-grid .skills-group {
    position: absolute;
    bottom: 5%;
    left: 15%;
    width: 70%;
}

.bento-grid .btn {
    position: absolute;
    bottom: 20%;
    padding: 0.75rem 1.5rem;
    background-color: rgba(124, 233, 230, 0.1);
    color: #5EFF00;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease;
    font-family: 'Pixelify Sans', sans-serif;
}

.bento-grid .btn:hover {
    background-color: #5EFF00;
    color: black;
}